.left_col {
   float:left;
   width:300px;   
}
.right_col {
   float:right;
   width:400px;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.consignments {
  margin: 0 0 0 0;
  list-style-type: none;
  padding: 0;
  width: 55em;
}
.consignments li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .1em;
  padding: .3em 0;
  height: 0.8em;
  border-radius: 4px;
}
.consignments li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.consignments .hovering:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.consignments .text {
  position: relative;
  top: -3px;
}
.consignments .badge {
  text-align: center;
  float: left;
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 0.5em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 0.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  width: 2em
}
.consignments .memberlong {
  padding: 0 0 0 0;
  float: left;
  width: 11em;
}
.consignments .membershort {
  padding: 0 0 0 0;
  float: left;
  width: 9em;
}