<div id="wrap">
  <div class="left_col">
    <ul class="consignments">
      <li>
        <span class="badge"></span>
        <span class="memberlong">Sender</span>
        <span class="memberlong">Receiver</span>    
        <span class="membershort">Reference</span>
        <span class="memberlong">Note</span>    
      </li>

      <li *ngFor="let consignment of consignments" 
      class="hovering"
      [class.selected]="consignment === selectedConsignment"
      (click)="onSelect(consignment)">
        <span class="badge">{{consignment.id}}</span> 
        <span class="memberlong">{{consignment.sender.name}}</span>
        <span class="memberlong">{{consignment.receiver.name}}</span>    
        <span class="membershort">{{consignment.reference}}</span>
        <span class="memberlong">{{consignment.clientNote}}</span>    

      </li>
    </ul>
  </div>
  <div class="right_col">
    <div *ngIf="selectedConsignment">  
      <ul class="consignments">
        <li>
          <span class="membershort">Sender Name:</span>
          <span class="memberlong">{{selectedConsignment.sender.name}}</span>
        </li>
        <li>
          <span class="membershort">Sender Street:</span>
          <span class="memberlong">{{selectedConsignment.sender.street}}</span>
        </li>
        <li>
          <span class="membershort">Sender Town:</span>
          <span class="memberlong">{{selectedConsignment.sender.town}}</span>
        </li>
        <li>
          <span class="membershort">Sender Zip:</span>
          <span class="memberlong">{{selectedConsignment.sender.zip}}</span>
        </li>
        <li>
          <span class="membershort">Sender Country:</span>
          <span class="memberlong">{{selectedConsignment.sender.countryStr}}</span>
        </li>      
        <li>
          <span class="membershort">Sender Contact:</span>
          <span class="memberlong">{{selectedConsignment.sender.contact}}</span>
        </li>
        <li>
          <span class="membershort">Sender Phone:</span>
          <span class="memberlong">{{selectedConsignment.sender.phone}}</span>
        </li>
        <li>
          <span class="membershort">Sender Email:</span>
          <span class="memberlong">{{selectedConsignment.sender.email}}</span>
        </li>
      </ul> 

      <ul class="consignments">  
        <li>
          <span class="membershort">Receiver Name:</span>
          <span class="memberlong">{{selectedConsignment.receiver.name}}</span>
        </li>
        <li>
          <span class="membershort">Receiver Street:</span>
          <span class="memberlong">{{selectedConsignment.receiver.street}}</span>
        </li>
        <li>
          <span class="membershort">Receiver Town:</span>
          <span class="memberlong">{{selectedConsignment.receiver.town}}</span>
        </li>
        <li>
          <span class="membershort">Receiver Zip:</span>
          <span class="memberlong">{{selectedConsignment.receiver.zip}}</span>
        </li>
        <li>
          <span class="membershort">Receiver Country:</span>
          <span class="memberlong">{{selectedConsignment.receiver.countryStr}}</span>
        </li>      
        <li>
          <span class="membershort">Receiver Contact:</span>
          <span class="memberlong">{{selectedConsignment.receiver.contact}}</span>
        </li>
        <li>
          <span class="membershort">Receiver Phone:</span>
          <span class="memberlong">{{selectedConsignment.receiver.phone}}</span>
        </li>
        <li>
          <span class="membershort">Receiver Email:</span>
          <span class="memberlong">{{selectedConsignment.receiver.email}}</span>
        </li>
      </ul>
      <button (click)="gotoDetail()">View Details</button>
    </div>
  </div>
</div>
