<div *ngIf="consignment">
  <div>
    <label>ConsignmentId: </label>    
    <label>{{consignment.id}}</label>
  </div>   
  <div class="left_col">
    <div>
      <label>Sender Name: </label>
      <input [(ngModel)]="consignment.sender.name"  readonly/>
    </div>    
    <div>
      <label>Sender Street: </label>
      <input [(ngModel)]="consignment.sender.street"  readonly/>
    </div>
    <div>
      <label>Sender Town: </label>
      <input [(ngModel)]="consignment.sender.town"  readonly/>
    </div>
    <div>
      <label>Sender Zip: </label>
      <input [(ngModel)]="consignment.sender.zip"  readonly/>
    </div>
    <div>
      <label>Sender Country: </label>
      <input [(ngModel)]="consignment.sender.countryStr"  readonly/>
    </div>
    <div>
      <label>Sender Contact: </label>
      <input [(ngModel)]="consignment.sender.contact"  readonly/>
    </div>
    <div>
      <label>Sender Phone: </label>
      <input [(ngModel)]="consignment.sender.phone"  readonly/>
    </div>
    <div>
      <label>Sender Email: </label>
      <input [(ngModel)]="consignment.sender.email"  readonly/>
    </div>
  </div>
  <div class="middle_col">
    <div>
      <label>Receiver Name: </label>
      <input [(ngModel)]="consignment.receiver.name"  readonly/>
    </div>    
    <div>
      <label>Receiver Street: </label>
      <input [(ngModel)]="consignment.receiver.street"  readonly/>
    </div>
    <div>
      <label>Receiver Town: </label>
      <input [(ngModel)]="consignment.receiver.town"  readonly/>
    </div>
    <div>
      <label>Receiver Zip: </label>
      <input [(ngModel)]="consignment.receiver.zip"  readonly/>
    </div>
    <div>
      <label>Receiver Country: </label>
      <input [(ngModel)]="consignment.receiver.countryStr"  readonly/>
    </div>
    <div>
      <label>Receiver Contact: </label>
      <input [(ngModel)]="consignment.receiver.contact"  readonly/>
    </div>
    <div>
      <label>Receiver Phone: </label>
      <input [(ngModel)]="consignment.receiver.phone"  readonly/>
    </div>
    <div>
      <label>Receiver Email: </label>
      <input [(ngModel)]="consignment.receiver.email"  readonly/>
    </div>
  </div>
  <div class="right_col">
    <div>
      <label>Reference: </label>
      <input [(ngModel)]="consignment.reference"  readonly/>
    </div>    
    <div>
      <label>Client Note: </label>
      <input [(ngModel)]="consignment.clientNote"  readonly/>
    </div>
    <div>
      <label>Driver Note: </label>
      <input [(ngModel)]="consignment.driverNote"  readonly/>
    </div>
    <div>
      <label>Receiver Note: </label>
      <input [(ngModel)]="consignment.receiverNote"  readonly/>
    </div>        
  </div>

  <div *ngIf="omitList != 1">
    <div class="full_col">
      <h2>Parcels in consignment</h2>
      <parcel-overview [consig]="consignment" [omitConsignmentDeatil]=1></parcel-overview>
    </div>
  </div>
</div>
