<ul class="parcels">
  <li>
    <span class="badge"></span>
    <span class="membershort">Weight</span>
    <span class="membershort">Barcode</span>    
    <span class="membershort">COD Value</span>
    <span class="membershort">COD Symbol</span>    
    <span class="membershort">Consignment ID</span>    
    <span class="memberlong">Note</span>        
  </li>
  <li *ngFor="let parcel of parcels" 
  class="hovering"
  [class.selected]="parcel === selectedParcel"
  (click)="onSelect(parcel)">
    <span class="badge">{{parcel.id}}</span>
    <span class="membershort">{{parcel.weight}}</span>
    <span class="membershort">{{parcel.barcode}}</span>    
    <span class="membershort">{{parcel.codValue}}</span>
    <span class="membershort">{{parcel.codSymbol}}&nbsp;</span>    
    <span class="membershort">{{parcel.consignmentId}}</span>
    <span class="memberlong">{{parcel.note}}</span>            
  </li>
</ul>
<div *ngIf="selectedParcel">  
  <h2>Parent consignment of parcel</h2>
  <consignment-detail [consignment]="consig" [omitList]=1></consignment-detail>
</div>
<button (click)="goBack()">Back</button>