<ul class="consignments">
  <li *ngFor="let consignment of consignments" 
  [class.selected]="consignment === selectedConsignment"
  (click)="onSelect(consignment)">
    <span class="badge">{{consignment.id}}</span> {{selectedConsignment.name}}
  </li>
</ul>